#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        l_bkt {
            bindings = <&kp LBKT>;
            key-positions = <4 3>;
        };

        r_bkt {
            bindings = <&kp RBKT>;
            key-positions = <5 6>;
        };

        l_par {
            bindings = <&kp LPAR>;
            key-positions = <13 14>;
        };

        r_par {
            bindings = <&kp RPAR>;
            key-positions = <15 16>;
        };

        l_brc {
            bindings = <&kp LBRC>;
            key-positions = <25 24>;
        };

        r_brc {
            bindings = <&kp RBRC>;
            key-positions = <26 27>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
         &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y       &kp U  &kp I      &kp O    &kp P
         &kp A  &kp S  &kp D     &kp F  &kp G        &kp H       &kp J  &kp K      &kp L    &kp SEMI
&kp TAB  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N       &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp APOS
                       &kp LGUI  &mo 2  &kp SPACE    &kp LSHIFT  &mo 1  &kp LALT
            >;
        };

        nav_num {
            bindings = <
         &kp TILDE  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS     &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &none
         &none      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none
&kp ESC  &kp CLCK   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp BSLH     &kp BACKSPACE   &kp DELETE      &kp INSERT    &none            &none  &none
                                  &kp NUMBER_0  &none         &kp ENTER    &kp LSHFT       &none           &kp RALT
            >;
        };

        bt_mouse {
            bindings = <
       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mkp LCLK       &msc SCRL_UP    &none         &none            &none
       &none         &none         &kp K_VOL_DN  &kp C_MUTE    &kp C_VOL_UP    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none
&none  &none         &none         &kp C_PREV    &kp C_PP      &kp C_NEXT      &mkp RCLK       &msc SCRL_DOWN  &none         &none            &none  &bt BT_CLR
                                   &none         &none         &none           &none           &none           &kp LCTRL
            >;
        };

        device {
            bindings = <
       &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none  &none
            >;
        };

        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };

        extra3 { status = "reserved"; };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
